body {
    color: black;
    font-family: 'Acme', sans-serif;
}

main {
    padding-bottom: 25px;
    padding-top: 25px;
}

h2,
h3,
h4,
h5,
h6 {
    color: black;
}

.card-img-top {
    border-radius: 15px;
    height: 200px;
}

.card-body {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 10px;
}

.card {
    border-radius: 10px;
}

.btn-success {
    color: black;
}

.background-image {
    background: url(/static/images/The_Book.png) no-repeat center center fixed;
    background-size: 500px;

}

.container-main,
.outer-container,
.bg-img{
    background-color: rgba(255, 255, 255, 0.7);
    min-height: 100%;
}

.inner-container {

    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    margin: auto;
}



.recipe-img {
    max-width: 25rem;
}

.btn-back {
    margin-top: 10px;
    margin-bottom: 10px;
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0);
}

footer {

    position: static;
    background-color: transparent;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    bottom: 0;
    text-align: center;

}

.wrapper {
    position: relative;
    min-height: 100%;
}

#deleteRecipe>div>div>div.modal-body>img {
    max-width: -webkit-fill-available;
}

#github-icon {
    font-size: 22px;
    margin: 0px 17px;
}
