body {
    color: black;
    
}

.card-body {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 10px;
}

.card-deck {
    border-radius: 10px;
}

.btn-success {
    color:black;
}

.background-image {
    background: url(/static/images/The_Book.png) no-repeat center center fixed;
    background-size: 500px;
    
}

.container-main {
    background-color: rgba(255, 255, 255, 0.7);
}

.inner-container {
    
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    margin: auto;
}

.outer-container {
    background-color: rgba(255, 255, 255, 0.5);
}