{% extends 'base.html' %} {%block content %}

<div class="bg-img">

    <div class="container">
        <h2 class="title text-center">Add Recipe</h2>
    </div>

    <form method="POST" action="/insert_recipe">
        <div class="form-group">

            <label for="recipe_name">Recipe Name:</label>
            <input type="text" name="recipe_name" id="recipe_name" class="form-control" />
        </div>

        <div class="form-group">

            <label for="description">Description:</label>
            <input type="textarea" name="description" id="description" class="form-control" rows="3" />
        </div>

        <div class="form-group">

            <label for="cooking_time">Cooking Time (incl. prep):</label>
            <input type="text" name="cooking_time" id="cooking_time" class="form-control" rows="3" />
        </div>

        <div class="form-group">
            <label for="difficulty">Difficulty:</label>
            <input type="text" name="difficulty" id="difficulty" class="form-control" />
        </div>

        <div class="form-row" id="ingredients-row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <label for="ingredients">Ingredients:</label>
                <input type="text" name="ingredient" id="ingredient" class="form-control" />
                <button type="button" class="new-input-btn btn-ingredient btn-success"><i class="fas fa-plus" aria-hidden="true"></i>
                </button>
                <button type="button" class="remove-input-btn btn-ingredient btn-danger"><i class="fas fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>

        <div class="form-row" id="instructions-row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <label for="instructions">Instructions:</label>
                <input type="text" name="instruction" id="instruction" class="form-control" />
                <button type="button" class="inst-input-btn btn-instruction btn-success"><i class="fas fa-plus" aria-hidden="true"></i>
                </button>
                <button type="button" class="inst-remove-input-btn btn-instruction btn-danger"><i class="fas fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>

        <div class="form-row" id="cat-row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <label for="categories">Category:</label>
                <input type="text" name="category" id="category" class="form-control" />
                <button type="button" class="cat-input-btn btn-category btn-success"><i class="fas fa-plus" aria-hidden="true"></i>
                </button>
                <button type="button" class="cat-remove-input-btn btn-category btn-danger"><i class="fas fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>

        <div class="form-row" id="all-row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <label for="allergens">Allergens:</label>
                <input type="text" name="allergen" id="allergen" class="form-control" />
                <button type="button" class="all-input-btn btn-allergen btn-success"><i class="fas fa-plus" aria-hidden="true"></i>
                </button>
                <button type="button" class="all-remove-input-btn btn-allergen btn-danger"><i class="fas fa-times" aria-hidden="true"></i>
                </button>
            </div>
        </div>

        <div class="form-group">

            <label for="servings">Servings:</label>
            <input type="number" name="servings" id="servings" class="form-control" />
        </div>

        <div class="form-group">

            <label for="recipe_image">Recipe Image URL:</label>
            <input type="url" name="recipe_image" id="recipe_image" class="form-control" />
        </div>


        <button type="submit" class="btn btn-outline-success text-center">Submit</button>

        <a href=" {{ url_for('recipes') }}" class="btn btn-outline-danger text-center">Cancel</a>

    </form>
</div>

{% endblock %}
