{%extends 'base.html'%}{%block content%}

<section class="container-main">
    <div class="row">
        <div class="container">
            <div class="row">
                <h2 class="col-12 text-center">{{recipe.recipe_name}}</h2>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="col-12">
                            <img class="card-img-top" src="{{ recipe.recipe_image }}" alt="{{recipe.recipe_name}}" onerror="this.src='{{ url_for('static', filename='images/image-not-found.png') }}'">
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-6">
                    <div class="col-xs-12 col-sm-3 col-md-6">
                        <p class="card-text">Difficulty : <a href="#">{{recipe.difficulty}}</a></p>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-6">
                        <p class="card-text">Serving size : {{recipe.servings}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        {%for ingredient in recipe.ingredients%}
                        <li class="list-group-item">
                            {{ingredient}}
                        </li>
                        {%endfor%}
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <h3 class="col-12 text-center">Steps</h3>
                <div class="col-12">
                    <ol>
                        {%for instruction in recipe.instructions%}
                        <li>
                            <p>
                                {{instruction}}
                            </p>
                        </li>
                        {%endfor%}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>




{%endblock%}
